body {
  font-family: 'Poppins', sans-serif;
}
.navbar-brand{
    font-weight: 700;
    font-size: 22px;
}
.nav-link{

    font-weight: 800;
    font-size: 16px;
}
.nav-container{
    margin: 0 auto;
    padding: 0rem 5rem;
    box-sizing: border-box;
    max-width: 1366px;
   

}
.main-container{
    margin: 0 auto;
     max-height: 1000px;
}
.btn-group{
    display: flex;
    flex-direction: row;
}
.action-btn{
    background-color: red;
    width: 100px;
    height: 10px;   
    display: inline-block;
}
.reset-btn{
    background-color: black;
    width: 100px;
    height: 10px;
    display: inline-block;
}