body {
  font-family: 'Poppins', sans-serif;
}
.navbar-brand{
    font-weight: 700;
    font-size: 22px;
}
.nav-link{

    font-weight: 800;
    font-size: 16px;
}
.nav-container{
    margin: 0 auto;
    padding: 0rem 5rem;
    box-sizing: border-box;
    width: 1100px;

}
.main-container{
    margin: 0 auto;
}