*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --primary-color: #ffc05a;
  --background-color: #fc596a;
}
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
.container-sm {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}
.inner-heading {
  background-color: #fc5d66;
  /* margin-top: 60px; */
  height: 250px;
  color: white;
  padding-top: 8rem;
  font-size: larger;
}

/*Navbar items*/
.navbar img {
  width: 80px;
  height: 40px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  padding: 1rem 3rem;

  /* padding-left: 2rem;
  padding-right: 3rem; */
  /* padding-top: 0.5rem;
  /* padding: 1rem 2rem; */
}
.icon {
  font-size: larger;
}
.main-menu-items {
  align-items: center;
  justify-content: center;
}

.navbar .navbar-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0);
  /* padding: 5px 1px; */
  font-size: x-large;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.navbar ul a,
.mobile-menu ul a {
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  font-size: 17px;
  gap: 1rem;
}
.navbar ul a:hover,
.mobile-menu ul a:hover {
  color: rgb(247, 247, 152);
}
.navbar.navbar-scroll {
  background-color: rgba(235, 77, 85, 0.8);
  backdrop-filter: blur(10px);
}
/*mobile menu*/
.mobile-menu {
  display: none;
}
.mobile-menu-toogle {
  display: none;
}
/*Hero*/
.hero {
  background: #000 url("./images/header-background.jpg") center center/cover
    no-repeat;
  padding: 11.5rem 2rem 8rem;
  color: #fff;
  overflow-x: hidden;
  position: relative;
}
.hero-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  padding-bottom: 8rem;
}

.hero h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.8;
  font-weight: 400;
}
.hero img {
  /* max-width: 700px; */
  width: 100%;
  margin-right: -100px;
}
.btn {
  display: inline-block;
  padding: 1.6rem 2.6rem;
  border: 1px solid var(--primary-color);
  border-radius: 32px;
  background-color: var(--primary-color);
  color: dark;
  cursor: pointer;
  transition: all 0.2s;
}

.btn {
  text-decoration: none;
  color: black;
}
.btn:hover {
  background: var(--background-color);
  color: white;
  border-color: white;
}
.hero .frame-decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}
/*Section gallery*/
.section-header {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  margin-bottom: 3.5rem;
}
.section-header h2 {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(51, 46, 46);
  margin-bottom: 0.5rem;
}
.section-header p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  color: black;
}
.heading-border {
  width: 64px;
  height: 4px;
}
/*Topics */
.topics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.topic img {
  transition: transform 0.3s;
  max-width: 100%;
}
.topic img:hover {
  transform: scale(1.1);
}
.section {
  margin: 4rem 0;
}

/*Chapter cards*/
.chapter-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem 2rem;
}
.chapter-cards img {
  width: 130px;
  margin-top: 2rem;
}
.card {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px 10px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
}

/*section course summary*/
.course-summary .container {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  padding: 0 10px;
}

.course-summary .section-heading {
  text-align: center;
  margin-bottom: 1.5rem;
  background: white;
  color: black;
}
.course-summary .section-list {
  background: #fff;
  padding: 2rem;
  line-height: 1.5rem;
}
.course-summary .list-header {
  background: var(--background-color);
  color: #fff;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;

  margin: 1px 0;
}
.course-summary .list-item {
  padding: 1.5rem 0;
  border-bottom: 0.3rem solid #f1f1f1;
}

.heading-border {
  background-color: var(--background-color);
  margin: 5px auto;
}
/* info section */
.info-container {
  background: url("./images/audience.jpg") top center/cover no-repeat;
  display: flex;
}
.info-content {
  background-color: var(--background-color);
  color: #fff;
  flex: 1;
  padding: 4rem;
}
.info-left {
  width: 50%;
}
.info-content h2 {
  font-size: x-large;
  margin-bottom: 1rem;
  font-weight: 700;
}
.info-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.info-content ul li {
  list-style: none;
  font-size: 1.2rem;
  line-height: 2;
}
.info-content i {
  margin-right: 30px;
}
/*Text classes*/
.text-primary {
  color: var(--background-color);
}
.text-secondary {
  color: var(--background-color);
}
/*Take away section*/
.takeaways-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1.5rem 0;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.takeaways-cards .card {
  flex-direction: row;
  padding: 1.5rem;
}
/*course/author info*/
.details .detail-flex {
  display: flex;
  gap: 1.5rem;
  justify-content: left;
}
.author-details,
.details-content {
  display: block;
  margin: 10px;
}
.author-details .heading-border,
.details-content .heading-border {
  margin: auto 0px;
}
.author-details p,
.details-content p {
  margin: 1.5rem 0;
}
.author-details-list li {
  margin-bottom: 1.5rem;
  list-style: none;
}
.author-details-list li i {
  margin-right: 0.5rem;
}
.details .container img {
  width: 100%;
  max-width: 500px;
}
/*Stats*/
.stats {
  background: black url("./images/stats-background.jpg") center center/cover
    no-repeat;
  color: white;
}
.stats-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
  align-items: center;
}
.stats img {
  width: 100%;
  max-width: 900px;
}
.stats-content {
  max-width: 800px;
}
.stats .stats-numbers {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.stats h3 {
  font-size: 3rem;
  font-weight: 800;
}
.stats p {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.stats .btn {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 250px;
}
.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  font-size: larger;
  padding: 3rem;
  margin: 0 auto;
}
.newsletter input {
  width: 100%;
  max-width: 30rem;
  height: 3.5rem;
  border-radius: 80px;
  padding: 10px;
  font-size: 18px;
  border-width: 1px;
}
.newsletter input:focus {
  border-color: orange;
  outline: none;
}
.newsletter h2 {
  font-size: x-large;
}
/*social*/
.social {
  background-color: #272d35;
  color: #fff;
  padding: 6rem 2rem;
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 0;
}
.social .social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  text-decoration: none;
}
.social-icons a {
  text-decoration: none;
  font-style: none;
  color: #fff;
}

.footer {
  background-color: #272d35;
  color: #fff;
  border-top: 1px solid #384653;
  padding: 0.5rem 2rem;
}
.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
.footer a {
  color: #fff;
}
.footer a:hover {
  color: rgb(248, 226, 99);
}
/*Contact Form*/
.contact-form {
  margin-top: 4rem;
}
.contact-form {
  display: block;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}
.contact-form .form-group {
  display: block;
}
.contact-form .form-group .message-box {
  width: 100%;
  height: 10rem;
}
.contact-form input {
  width: 100%;
  height: 3.5rem;
  padding-left: 1.5rem;
  font-size: large;
  border: 1px solid #ccc;
}

.contact-form a {
  text-align: center;
}
.contact-form p {
  margin-bottom: 3rem;
}
/*office location*/
.office-location {
  display: block;
  margin: 4rem auto;
  /* padding: 3% 10%; */
}
.office-location h1,
p {
  margin-bottom: 1rem;
}
/*social section*/
.social-flex {
  font-size: larger;
  text-align: center;
}
.social-icons {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: large;
}
.social-icons a {
  font-size: 32px;
}
.embed-map-fixed {
  width: 100%;
}
/*Learn section*/
.learn {
  padding: 1.5rem;
}
/*Map section*/
.embed-map-fixed {
  position: relative;
  text-align: left;
  width: 100%;
  max-width: 100%;
}

.embed-map-container {
  overflow: hidden;
  background: none !important;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
}

.embed-map-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.hidden-credit-link {
  font-size: 2px !important;
  color: gray !important;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  max-height: 1px;
  overflow: hidden;
  max-width: 100%;
}
@media (max-width: 512px) {
  .topics {
    grid-template-columns: repeat(1, 1fr);
  }
  .newsletter input {
    width: 35px;
    height: 10px;
    font-size: smaller;
  }
}
@media (max-width: 768px) {
  /*mobile menu related*/
  .main-menu-items {
    display: none;
  }
  .mobile-menu {
    position: fixed;
    top: 5rem;
    width: 100%;
    left: -100%;
    padding-top: 10px;
    display: flex;
    z-index: 999;
    font-size: larger;
    flex-direction: column;
    transition: left 0.4s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .mobile-menu.activate {
    left: 0;
  }
  .mobile-menu-toogle {
    display: block;
    cursor: pointer;
    color: white;
    font-size: larger;
  }
  .navbar {
    max-width: 768px;
  }
  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
    align-items: center;
    justify-content: center;
  }
  .mobile-menu ul a {
    font-size: 16px;
  }
  /*------------------*/
  /*Hero stuffs*/
  .hero .hero-flex {
    text-align: center;
    gap: 2rem;
    flex-direction: column;
    padding-bottom: 4rem;
  }
  .hero-flex {
    flex-direction: column;
  }
  .hero img {
    max-width: 50%;
    margin-right: 0;
  }
  .hero h1 {
    font-size: 3rem;
  }
  .topics {
    grid-template-columns: repeat(1, 1fr);
  }
  /*Chapter cards*/
  .chapter-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  /*info content*/
  .info-container {
    flex-direction: column;
  }
  .info-content {
    padding: 2rem;
  }
  .info-content h2 {
    font-size: 1.3rem;
  }
  .info-content p {
    font-size: 1rem;
  }
  .info-left {
    display: none;
  }
  /*newsletter*/
  .newsletter input {
    width: 90px;
    height: 50px;
    font-size: small;
  }

  /*detail/author*/
  .detail-flex {
    flex-direction: column;
    padding: 2rem;
  }
  #author .detail-flex {
    flex-direction: column-reverse;
  }
  .footer {
    font-size: 0.6rem;
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  .navbar {
    padding-top: 0;
  }
  .navbar-flex {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 1.3rem;
    padding: 1.5rem 1.5rem;
  }
  .btn {
    font-size: 1rem;
    font-weight: 200;
  }
  .hero .hero-flex {
    text-align: center;
    gap: 2rem;
    flex-direction: row;
    padding-bottom: 4rem;
    font-size: small;
  }
  .hero-flex {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .hero img {
    max-width: 80%;
    margin-left: 3rem;
  }
  .hero h1 {
    font-size: 3rem;
  }
  .topics {
    grid-template-columns: repeat(2, 1fr);
  }

  /*newsletter*/
  .newsletter input {
    width: 300px;
    height: 50px;
    font-size: small;
  }
  /*Chapter cards*/
  .chapter-cards {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  /*Takeaways*/
  .takeaways p {
    padding: 1.5rem;
  }
  /* .takeaways-cards {
    height: 200px;
  } */
  /*Topics*/
  .topics {
    padding: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
  }
  /**/
  .takeaways-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  /*stats*/
  .stats-flex {
    flex-direction: column;
  }
  /*Author Details*/
  #author .detail-flex {
    flex-direction: column-reverse;
  }
  /*Section list*/
  .section-lists {
    padding: 3rem 3rem;
  }
  .social a {
    font-size: 1.5rem;
  }
  /* .social-flex {
    font-size: large;
    text-align: center;
  } */
  .social-flex p {
    font-size: large;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .social-icons {
    font-size: medium;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .social-icons i {
    font-size: 32px;
    color: white;
  }
  .footer {
    font-size: 0.8rem;
  }

  .footer-flex {
    flex-direction: row;
    padding: 0.5rem 2rem;
    align-items: center;
  }
  /* .contact-form {
    max-width: 500px;
    padding: 4rem;
  } */
  /* .office-location {
    max-width: 500px;
  } */
}
